---
http_interactions:
- request:
    method: get
    uri: http://dev.markitondemand.com/Api/v2/Quote/json?symbol=TSLA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","Name":"Tesla Motors Inc","Symbol":"TSLA","LastPrice":260.66,"Change":5.67000000000002,"ChangePercent":2.22361661241618,"Timestamp":"Tue
        Aug 18 15:59:00 UTC-04:00 2015","MSDate":42234.6659722222,"MarketCap":33832625360,"Volume":165307,"ChangeYTD":222.41,"ChangePercentYTD":17.1979677172789,"High":260.8,"Low":253.67,"Open":255.55}'
  recorded_at: Wed, 19 Aug 2015 07:02:29 GMT
recorded_with: VCR 2.9.3
